
header{
    background-color: black;
    font-size: 50px;
    padding: 30px;
    color: rgb(251, 141, 133);
    text-align: center;
}
nav{
    background-color: rgb(239, 123, 123);
}

nav ul {
    list-style: none; /* Remove list bullets */
    padding: 20px; /* Remove default padding */
    font-size: 15px;
}

nav li {

    display: inline; /* Display list items horizontally */
    margin-right: 15px; /* Add spacing between list items */
}

nav a {
    text-decoration: none; /* Remove underlines from links */
    color: #fff; /* Text color for links */
    color: rgb(1, 1, 136);
    text-decoration: underline;
}

/* Style for hover or active links */
nav a:hover,
nav a:active {
    text-decoration: underline; /* Add underline on hover/active */
}

img {
    display: block; /* Makes the image a block element, so it's below the navigation */
    margin: 0 auto; /* Centers the image horizontally */
    max-width: 100%; /* Keeps the image within its container */
    margin-bottom: 90px;
   
    
}



.mainPage ul {
    list-style: none; /* Bullet style (e.g., disc, circle, square) */
    margin: 20px; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.mainPage li {
    margin: px; /* Remove default margin */
    padding: 5px 0; /* Add vertical spacing between list items */
    font-size: 30px;
    
}




#root {
    display: flex;
    outline: 2px;
    background-color: none;
    width: 80%;
    margin: auto;
    font-size: large;
    margin-top: 20px;
    justify-content: center;
}


td, th {
    border: 1px solid black;
}

th{
    background-color: grey;
    padding: 10px;
    font-weight: bold;
    margin: auto;
    color: beige;
}

td{
    padding: 10px;
    background-color: rgb(251, 141, 133);
}

.finalDailytotal {
    background-color: grey;
    color: beige;
}

.locationData {

    background-color: grey;
    color: beige;
}

.totalLabel {
    color: beige;
    background-color: grey;
}

.totalPerHour {
    color: beige;
    background-color: grey;

}

.totalOfTotal {
    color: beige;
    background-color: grey;

}



table {
    border-collapse: collapse;
    margin: 10px;
}

form {
    border: 2px #333 solid;
    margin: 20px;
    padding: 10px;
}

h1{
    font-family: 'Righteous', sans-serif;

}
    
/* Main page*/

div {

    margin-left: 10%;
    margin-top: 20px;
    border-top: 10px black;

}

.MPdetails li {
    /* Your styling goes here */
    font-family: Georgia,  Times, serif;
   
    color: #8c8c8c; /* Text color */
    font-size: 15px; /* Font size */
    
}    

.mainPage {

   font-size: 40px;
   font-weight: bold;
}

main {
    border-top: 2px black;
}

